p 
  each page in pages
    span 
      if term 
        span 
          a(class="button", href=`/books/search?term=${term}&page=${page}`)= page++
      else
        span
          a(class="button", href=`/books/?page=${page}`)= page++
          //- a(class="button", href=`books?page=${page}`)= page++