extends layout


block content 
  h1= title

  include ./includes/form-error
  
  form(action="/books/new", method="POST")

    include ./includes/update-book-form

    p
      input(type="submit", value="Create New Book")
    p
      a(class="button", href="/books") Cancel