extends layout 


block content 
  h1= title 

  include ./includes/form-error

  form(action=`/books/${book.id}`, method="POST")

    include ./includes/update-book-form

    p
      input(type="submit" value="Update Book")
    p
      a(class="button", href="/books") Cancel
    p
      a(class="button", href=`/books/${book.id}/delete`) Delete Book